body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('./tempconvert.png');
  color: #fff;
}

.converter-container {
  text-align: center;
  width: 350px;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 10 10 20px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #0871b7;
  font-weight: bold;
}

input,
select,
button {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ecf0f1;
  color: #333;
}

input:focus,
select:focus {
  outline: none;
  border-color: #3498db;
}

button {
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3d0de9;
}

#resultArea {
  margin-top: 20px;
  font-weight: bold;
  color: #3498db;
}
